---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout
  title="Aviso Legal - Isósceles Global Constructora"
  description="Aviso legal - Isósceles Global Constructora"
  url="https://www.isoscelesglobal.com/aviso-legal/"
>
  <body class="bg-gray-50 text-gray-800">
    <!-- Header -->
    <header class="bg-blue-950 text-white py-8">
      <div class="container mx-auto px-4 text-center">
        <h1 class="text-4xl font-bold">Aviso Legal</h1>
        <p class="mt-2 text-lg">
          Información legal sobre el uso del sitio web de Isósceles Global SL.
        </p>
      </div>
    </header>

    <!-- Sección de Aviso Legal -->
    <section class="py-16">
      <div class="container mx-auto px-10 md:px-4">
        <div class="bg-white p-8">
          <h2 class="text-2xl md:text-3xl font-bold text-gray-800 mb-4">
            1. Identificación del Titular
          </h2>
          <p class="text-lg text-gray-600 mb-2">
            De acuerdo con la Ley 34/2002, de 11 de julio, de servicios de la
            sociedad de la información y del comercio electrónico (LSSI-CE), se
            informa que:
          </p>
          <ul class="list-disc list-inside mb-4 text-gray-600">
            <li><strong>Nombre o razón social:</strong> Isósceles Global SL</li>
            <li><strong>NIF:</strong> B19430388</li>
            <li>
              <strong>Domicilio social:</strong> Lugar O Mosteiro, 33, 36388, Gondomar
            </li>
            <li><strong>Teléfono de contacto:</strong> +34 636 857 842</li>
            <li>
              <strong>Correo electrónico:</strong> proyectos@isoscelesglobal.com
            </li>
          </ul>

          <h2 class="text-2xl md:text-3xl font-bold text-gray-800 mb-4">
            2. Objeto
          </h2>
          <p class="text-lg text-gray-600 mb-6">
            El presente aviso legal regula el acceso y la utilización del sitio
            web [URL del sitio web] (en adelante, el "Sitio Web"), que Isósceles
            Global SL pone a disposición de los usuarios de Internet.
          </p>

          <h2 class="text-2xl md:text-3xl font-bold text-gray-800 mb-4">
            3. Condiciones de Uso
          </h2>
          <p class="text-lg text-gray-600 mb-6">
            El acceso y la utilización del Sitio Web son de carácter gratuito,
            salvo en lo que se refiere a los costes de conexión a través de la
            red de telecomunicaciones suministrada por el proveedor de acceso
            contratado por el usuario. Al acceder al Sitio Web, el usuario
            acepta las condiciones de uso establecidas en este aviso legal. Si
            no está de acuerdo con estas condiciones, debe abstenerse de
            utilizar el Sitio Web.
          </p>

          <h2 class="text-2xl md:text-3xl font-bold text-gray-800 mb-4">
            4. Propiedad Intelectual e Industrial
          </h2>
          <p class="text-lg text-gray-600 mb-6">
            Todos los contenidos del Sitio Web, incluyendo, pero no limitado a,
            textos, imágenes, gráficos, diseños, código fuente, logotipos y
            software, son propiedad de Isósceles Global SL o de terceros que han
            autorizado su uso. Queda prohibida la reproducción, distribución,
            modificación o cualquier otra actividad que pueda implicar una
            violación de los derechos de propiedad intelectual o industrial.
          </p>

          <h2 class="text-2xl md:text-3xl font-bold text-gray-800 mb-4">
            5. Exclusión de Responsabilidad
          </h2>
          <p class="text-lg text-gray-600 mb-6">
            Isósceles Global SL no se hace responsable de los daños y perjuicios
            de cualquier naturaleza que puedan derivarse de la utilización del
            Sitio Web, así como de la imposibilidad de acceder al mismo.
          </p>

          <h2 class="text-2xl md:text-3xl font-bold text-gray-800 mb-4">
            6. Modificaciones
          </h2>
          <p class="text-lg text-gray-600 mb-6">
            Isósceles Global SL se reserva el derecho a realizar cambios en el
            Sitio Web, así como en este aviso legal, sin necesidad de previo
            aviso. Por lo tanto, se recomienda a los usuarios revisar
            periódicamente este aviso legal.
          </p>

          <h2 class="text-2xl md:text-3xl font-bold text-gray-800 mb-4">
            7. Legislación Aplicable y Jurisdicción
          </h2>
          <p class="text-lg text-gray-600 mb-6">
            La relación entre Isósceles Global SL y el usuario se regirá por la
            normativa española vigente. Para la resolución de cualquier
            conflicto que pueda surgir en relación con el uso del Sitio Web,
            ambas partes se someten a la jurisdicción de los juzgados y
            tribunales de [Ciudad].
          </p>

          <h2 class="text-2xl md:text-3xl font-bold text-gray-800 mb-4">
            8. Política de Privacidad y Protección de Datos
          </h2>
          <p class="text-lg text-gray-600 mb-6">
            Para más información sobre cómo tratamos sus datos personales,
            consulte nuestra <a
              href="/politica-privacidad/"
              class="text-blue-800 underline">Política de Privacidad</a
            >.
          </p>
        </div>
      </div>
    </section>
  </body>
</Layout>
