---
import Layout from '../layouts/Layout.astro';
import VideoBackground from '../components/Home/VideoBackground.astro';
import ServicesApartado from '../components/Home/ServicesApartado.astro';
import ServicesMobileTitle from '../components/Home/ServicesMobileTitle.astro';
---

<Layout title="Isósceles Global SL - Empresa de construcción">
  <main>
    <VideoBackground />
    <div
      class="relative w-full h-44 lg:h-96 bg-white lg:grid lg:grid-cols-3 divide-y-2 lg:divide-x-2 divide-gray-200"
    >
      <ServicesMobileTitle />
      <ServicesApartado
        title="Rehabilitación y reformas"
        url="/rehabilitacion-reformas/"
        foto="/reformas.webp"
      />
      <ServicesApartado
        title="Obra nueva"
        url="obra-nueva"
        foto="/obranueva.webp"
      />
      <ServicesApartado
        title="Otros servicios"
        url="servicios"
        foto="/servicios.webp"
      />
    </div>
  </main>
</Layout>
