---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Política de Privacidad - Isósceles Global SL"
  description="Política de Privacidad - Isósceles Global SL"
  url="https://www.isoscelesglobal.com/politica-privacidad/"
>
  <body class="bg-gray-50 text-gray-800">
    <!-- Header -->
    <header class="bg-blue-950 text-white py-8">
      <div class="container mx-auto px-4 text-center">
        <h1 class="text-4xl font-bold">Política de Privacidad</h1>
        <p class="mt-2 text-lg">
          Comprometidos con la protección de tus datos personales.
        </p>
      </div>
    </header>

    <!-- Sección de Política de Privacidad -->
    <section class="py-16">
      <div class="container mx-auto px-10 md:px-4">
        <div class="bg-white p-8">
          <h2 class="text-2xl md:text-3xl font-bold text-gray-800 mb-4">
            1. Introducción
          </h2>
          <p class="text-lg text-gray-600 mb-6">
            En Isósceles Global SL, nos comprometemos a proteger y respetar su
            privacidad. Esta Política de Privacidad explica cómo recopilamos,
            utilizamos, divulgamos y protegemos sus datos personales al utilizar
            nuestro sitio web [URL del sitio web] (en adelante, el "Sitio Web").
          </p>

          <h2 class="text-2xl md:text-3xl font-bold text-gray-800 mb-4">
            2. Información que Recopilamos
          </h2>
          <p class="text-lg text-gray-600 mb-6">
            Recopilamos diferentes tipos de información personal, incluyendo:
          </p>
          <ul class="list-disc list-inside mb-4 text-gray-600">
            <li>
              Datos de contacto: nombre, correo electrónico, número de teléfono.
            </li>
            <li>
              Información sobre la empresa: nombre de la empresa, NIF,
              dirección.
            </li>
            <li>
              Datos de uso: información sobre cómo utiliza nuestro Sitio Web y
              servicios.
            </li>
          </ul>

          <h2 class="text-2xl md:text-3xl font-bold text-gray-800 mb-4">
            3. Cómo Utilizamos su Información
          </h2>
          <p class="text-lg text-gray-600 mb-6">
            Utilizamos la información que recopilamos para:
          </p>
          <ul class="list-disc list-inside mb-4 text-gray-600">
            <li>Gestionar y mejorar nuestros servicios y el Sitio Web.</li>
            <li>Comunicarme con usted, incluida la atención al cliente.</li>
            <li>
              Enviarle información y actualizaciones relacionadas con nuestros
              servicios.
            </li>
            <li>Cumplir con nuestras obligaciones legales y reglamentarias.</li>
          </ul>

          <h2 class="text-2xl md:text-3xl font-bold text-gray-800 mb-4">
            4. Conservación de Datos
          </h2>
          <p class="text-lg text-gray-600 mb-6">
            Conservamos sus datos personales solo durante el tiempo necesario
            para cumplir con los fines para los que fueron recopilados, y
            conforme a la legislación vigente.
          </p>

          <h2 class="text-2xl md:text-3xl font-bold text-gray-800 mb-4">
            5. Derechos del Usuario
          </h2>
          <p class="text-lg text-gray-600 mb-6">Usted tiene derecho a:</p>
          <ul class="list-disc list-inside mb-4 text-gray-600">
            <li>Acceder a sus datos personales.</li>
            <li>Rectificar sus datos si son inexactos.</li>
            <li>Solicitar la supresión de sus datos.</li>
            <li>Oponerse al tratamiento de sus datos.</li>
            <li>Solicitar la limitación del tratamiento de sus datos.</li>
            <li>Solicitar la portabilidad de sus datos.</li>
          </ul>
          <p class="text-lg text-gray-600 mb-6">
            Para ejercer cualquiera de estos derechos, puede ponerse en contacto
            con nosotros a través de [correo electrónico de contacto].
          </p>

          <h2 class="text-2xl md:text-3xl font-bold text-gray-800 mb-4">
            6. Cookies
          </h2>
          <p class="text-lg text-gray-600 mb-6">
            Utilizamos cookies y tecnologías similares para mejorar su
            experiencia en nuestro Sitio Web. Puede consultar nuestra <a
              href="/politica-cookies/"
              class="text-blue-500 underline">Política de Cookies</a
            > para más información sobre cómo utilizamos las cookies y cómo puede
            gestionarlas.
          </p>

          <h2 class="text-2xl md:text-3xl font-bold text-gray-800 mb-4">
            7. Cambios en Esta Política
          </h2>
          <p class="text-lg text-gray-600 mb-6">
            Nos reservamos el derecho a modificar esta Política de Privacidad en
            cualquier momento. Cualquier cambio se publicará en esta página y,
            si es significativo, le informaremos a través del Sitio Web.
          </p>

          <h2 class="text-2xl md:text-3xl font-bold text-gray-800 mb-4">
            8. Contacto
          </h2>
          <p class="text-lg text-gray-600 mb-6">
            Si tiene preguntas o inquietudes sobre esta Política de Privacidad o
            nuestras prácticas de privacidad, no dude en ponerse en contacto con
            nosotros a través de:
          </p>
          <p class="text-lg text-gray-600 mb-2">
            <strong>Correo electrónico:</strong> proyectos@isoscelesglobal.com
          </p>
          <p class="text-lg text-gray-600 mb-2">
            <strong>Teléfono:</strong> +34 636 857 842
          </p>
        </div>
      </div>
    </section>
  </body>
</Layout>
