---

---

<section class="py-16">
  <div class="container mx-auto px-4">
    <h2 class="text-2xl md:text-4xl lg:text-5xl font-bold text-center mb-8">
      Nuestra <span class="text-blue-900">metodología</span> de trabajo
    </h2>
    <p class="text-lg md:text-xl text-center text-gray-700 mb-12">
      En Isosceles Global SL, nos diferenciamos por un enfoque meticuloso y
      orientado al cliente. A continuación, destacamos nuestro proceso único que
      asegura resultados excepcionales en cada proyecto de reforma,
      rehabilitación y obra nueva.
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- Paso 1 -->
      <div
        class="bg-white shadow-lg p-6 rounded-lg hover:shadow-2xl transition-shadow duration-300 border-2 border-stone-100"
      >
        <div class="flex items-center mb-4">
          <span
            class="flex-shrink-0 bg-blue-900 text-white rounded-full h-12 w-12 flex items-center justify-center text-xl font-bold"
            >1</span
          >
          <h3 class="text-xl font-semibold text-blue-900 ml-4">
            Análisis Personalizado
          </h3>
        </div>
        <p class="text-gray-600 text-lg">
          Nuestro equipo realiza un diagnóstico detallado de cada proyecto para
          entender las necesidades específicas del cliente y del espacio a
          intervenir. Este análisis inicial asegura que cada detalle sea
          considerado desde el principio.
        </p>
      </div>

      <!-- Paso 2 -->
      <div
        class="bg-white shadow-lg p-6 rounded-lg hover:shadow-2xl transition-shadow duration-300 border-2 border-stone-100"
      >
        <div class="flex items-center mb-4">
          <span
            class="flex-shrink-0 bg-blue-900 text-white rounded-full h-12 w-12 flex items-center justify-center text-xl font-bold"
            >2</span
          >
          <h3 class="text-xl font-semibold text-blue-900 ml-4">
            Planificación Meticulosa
          </h3>
        </div>
        <p class="text-gray-600 text-lg">
          Elaboramos un plan detallado que cubre todos los aspectos del
          proyecto, desde el cronograma hasta los recursos necesarios. Nos
          aseguramos de mantener una comunicación fluida para que el cliente
          esté al tanto de cada etapa.
        </p>
      </div>

      <!-- Paso 3 -->
      <div
        class="bg-white shadow-lg p-6 rounded-lg hover:shadow-2xl transition-shadow duration-300 border-2 border-stone-100"
      >
        <div class="flex items-center mb-4">
          <span
            class="flex-shrink-0 bg-blue-900 text-white rounded-full h-12 w-12 flex items-center justify-center text-xl font-bold"
            >3</span
          >
          <h3 class="text-xl font-semibold text-blue-900 ml-4">
            Ejecución Eficiente
          </h3>
        </div>
        <p class="text-gray-600 text-lg">
          Gracias a un equipo de profesionales altamente cualificados, llevamos
          a cabo cada proyecto con precisión y eficacia. Usamos materiales de
          alta calidad y tecnología avanzada para garantizar resultados
          duraderos y estéticamente impecables.
        </p>
      </div>

      <!-- Paso 4 -->
      <div
        class="bg-white shadow-lg p-6 rounded-lg hover:shadow-2xl transition-shadow duration-300 border-2 border-stone-100"
      >
        <div class="flex items-center mb-4">
          <span
            class="flex-shrink-0 bg-blue-900 text-white rounded-full h-12 w-12 flex items-center justify-center text-xl font-bold"
            >4</span
          >
          <h3 class="text-xl font-semibold text-blue-900 ml-4">
            Control de Calidad
          </h3>
        </div>
        <p class="text-gray-600 text-lg">
          Realizamos un control riguroso de calidad en cada fase del proyecto
          para asegurar que todo cumpla con los estándares más altos del sector.
          Esto minimiza errores y garantiza la satisfacción del cliente.
        </p>
      </div>

      <!-- Paso 5 -->
      <div
        class="bg-white shadow-lg p-6 rounded-lg hover:shadow-2xl transition-shadow duration-300 border-2 border-stone-100"
      >
        <div class="flex items-center mb-4">
          <span
            class="flex-shrink-0 bg-blue-900 text-white rounded-full h-12 w-12 flex items-center justify-center text-xl font-bold"
            >5</span
          >
          <h3 class="text-xl font-semibold text-blue-900 ml-4">
            Transparencia Total
          </h3>
        </div>
        <p class="text-gray-600 text-lg">
          Mantenemos una transparencia absoluta en cuanto a costos, plazos y
          procesos. Nuestro objetivo es que el cliente se sienta seguro y
          confiado durante todo el desarrollo del proyecto.
        </p>
      </div>

      <!-- Paso 6 -->
      <div
        class="bg-white shadow-lg p-6 rounded-lg hover:shadow-2xl transition-shadow duration-300 border-2 border-stone-100"
      >
        <div class="flex items-center mb-4">
          <span
            class="flex-shrink-0 bg-blue-900 text-white rounded-full h-12 w-12 flex items-center justify-center text-xl font-bold"
            >6</span
          >
          <h3 class="text-xl font-semibold text-blue-900 ml-4">
            Entrega Puntual
          </h3>
        </div>
        <p class="text-gray-600 text-lg">
          Nos comprometemos a entregar cada proyecto dentro del plazo acordado,
          asegurando que nuestros clientes puedan disfrutar de su nuevo espacio
          sin demoras innecesarias.
        </p>
      </div>
    </div>
  </div>
</section>
