---
import { Icon } from 'astro-icon/components';
import MobileHeader from './MobileHeader.astro';

const currentPath = Astro.url.pathname;

const menuItems = [
  { name: '¿Quiénes somos?', path: '/quienes-somos/' },
  { name: 'Rehabilitación y reformas', path: '/rehabilitacion-reformas/' },
  { name: 'Obra nueva', path: '/obra-nueva/' },
  { name: 'Servicios', path: '/servicios/' },
  { name: 'Trabaja con nosotros', path: '/trabaja-nosotros/' },
  { name: 'Contacto', path: '/contacto/' },
];
---

<!--class="sticky top-0 left-0 right-0 z-40 bg-white backdrop-blur-sm bg-opacity-80" -->
<header
  class="sticky
  top-0
  left-0
  right-0
  z-40
  bg-white
  backdrop-blur-sm
  bg-opacity-80"
>
  <nav>
    <div
      class="flex justify-between items-center py-4 px-8 xl:px-14 text-xs xl:text-sm text-gray-800"
    >
      <div class="flex-none">
        <a href="/">
          <img
            src="/logos/isosceles-favicon-blue.svg"
            alt="Logo Isosceles Global"
            class="size-10"
          />
        </a>
      </div>
      <ul class="font-bold hidden lg:flex list-none gap-4 xl:gap-12">
        {
          menuItems.map((item) => (
            <li>
              <a
                href={item.path}
                class={`hover:text-blue-900 ${currentPath === item.path ? 'text-blue-900 border-b-2 border-blue-900' : ''}`}
              >
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
      <div
        class="lg:flex hidden bg-blue-900 py-3 px-6 text-white font-bold gap-2"
      >
        <Icon name="ic:baseline-phone" class="size-4 xl:size-5" />
        <a href="tel:+34636857842">+34 636 857 842</a>
      </div>
      <div class="lg:hidden" id="menu-button">
        <button class="baseline-menu-icon" aria-label="Toggle menu">
          <Icon name="ic:baseline-menu" class="size-8 text-blue-950" />
        </button>
      </div>
    </div>
  </nav>
</header>

<MobileHeader />
